
:root {
    --bodyColor: #F9FAFB;
    --mainColor: #111827;
    --buttonsColor: #2563EB;
    --hoverColor: #1E40AF;
    --mainTransition: 0.3s;
    --mainShadow: 0 8px 16px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.05);
    --menuColor: #333;
}

body {
    font-family: "Playpen Sans Deva", cursive;
    background-color: var(--bodyColor);
}

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 25px 0;
    /* position: sticky;
    top: 0;
    left: 0; */
}

.logo {
    font-family: "Glass Antiqua", cursive;
    color: var(--mainColor);
    font-size: 30px;
    font-weight: bold;
}

nav a {
    color: var(--mainColor);
    transition: var(--mainTransition);
}

nav a:hover {
    color: #1E40AF
}

/* Category Page  */

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.categories {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}



.category {
    background-color: white;
    height: 150px;
    cursor: pointer;
}


/* Products  */

.side-bar {
    width: 250px;
}

@media(max-width: 768px) {
    .side-bar {
        width: 100%;
    }
}

.side-toggle {
    font-weight: 900;
    font-size: 20px;
    color: #666;
    background-color: white;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 5px;
}

.close-button {
    width: 35px;
    height: 35px;
    background-color: red;
    font-size: 20px;
    color: white;
    
}

@media(max-width: 768px) {
    .close-button {
        top: 5px;
        right: 5px;
        z-index: 9999;
    }
}

.content {
    flex: 1;
}

.products-title {
    color: #333;
}

.products-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}



.products-content img {
    max-width: 100%;
    width: 150px;
    height: 150px;
}

.products-content .image {
    overflow: hidden;
}

.products-content .view-details {
    background-color: #fff323;
    padding: 10px 20px;
    bottom: -100%;
    z-index: 2;
    transition: 0.3s;
}

.products-content .product:hover .view-details {
    bottom: 0;
}

.products-content .product h3 {
    font-size: 15px;
    color: #888;
}

.products-content .price {
    color: #219381;
}

.rating {
    color: rgba(55, 128, 30);
}

/* Product Page  */

.product-details .image img {
    max-width: 100%;
}

@media(max-width: 992px) {
    .product-details {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}


.small-imgs {
    width: 130px;
    height: 130px;
}

.product-title {
    color: #555;
}
.add-button {
    background-color: #777;
    padding: 15px 30px;
    font-size: 16px;
}

.product-page .details {
    width: 40%;
    align-items: flex-start;
}

@media(max-width: 992px) {
    .product-page .details {
        width: 100%;
        align-items: center;
    }
}

.product-page .details .price-rating {
    gap: 50px;
}


.product-description {
    line-height: 1.9;
    color: #777;
}

@media(max-width: 992px) {
    .product-description {
        padding: 20px;
        text-align: center;
    }
}

/* Home Page  */

.home-page .hero {
    padding-top: 80px;
    padding-bottom: 80px;
}

.home-page .hero h1 {
    font-size: 40px;
}

.home-page .hero p {
    color: #777;
    font-size: 20px;
    margin-bottom: 20px;
}

.home-page .shop-btn {
    background-color: #333;
    padding: 15px 30px;
    color: white;
    letter-spacing: 2px;
}

.home-page .home-products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.home-products .product img {
    width: 180px;
}


/* Modal Design  */

.my-modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: 0;
    visibility: hidden; */
    transition: 0.5s;
    backdrop-filter: blur(16px);
    transform: scale(0);
}

.show {
    /* opacity: 1;
    visibility: visible; */
    transform: scale(1);
}

.my-modal .img {
    background-color: #fff;
    padding: 50px 80px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, .2);
}

@media(max-width: 768px) {
    .my-modal .img {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.my-modal img {
    width: 400px;
    height: 400px;
    max-width: 100%;
    user-select: none;
}

@media(max-width: 768px) {
    .my-modal img {
        width: 200px;
        height: 200px;
    }
}

.my-modal .close-btn {
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    background-color: var(--mainColor);
}

.my-modal .arrow {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-modal .left-btn {
    left: 30px;
}

.my-modal .right-btn {
    right: 30px;
}



.pagination li {
    width: 40px;
    height: 40px;
    background-color: white;
}

.pagination li.active {
    background-color: #eee;
}

/* Loader  */


.loader {
  width: 120px;
  height: 24px;
  -webkit-mask:
    radial-gradient(circle closest-side,#000 94%,#0000) 0 0/25% 100%,
    linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
  background:
   linear-gradient(#25b09b 0 0) 0/0% no-repeat
   #ddd;
  animation: l7 2s infinite linear;
}
@keyframes l7 {
    100% {background-size:100%}
}

.loader-container {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}